.wrap {
  display: flex;
  justify-content: space-evenly;
  height: 82px;
  border-bottom: 3px solid white;
}


.titleWrap {
  width: 280px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.8s ease 0s;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  margin: 0;

}

.titleWrap:hover {
  transition: all 0.8s ease 0.2s;
  box-shadow: 0 0 40px white;
  cursor: pointer;
}

.titleWrap:hover .titleWaves {
  top: -58px;
}

.titleWrap:hover .titleText {
  color: black;
  font-weight: 600;
}

.titleText {
  font-family: "Agency FB", sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: relative;
  z-index: 1;
}

.titleWaves {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: white;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease 0s;
}

.titleWaves:after, .titleWaves:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  width: 250%;
  height: 250%;
  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.titleWaves:before {
  background-color: #000;
  border-radius: 48%;
  animation: waves 5s infinite linear;
}

.titleWaves:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 44%;
  animation: waves 10s infinite linear;
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;

}

.searchBtn {
  width: 40px;
  height: 40px;
  background: black;
  color: white;
  box-shadow: 0 0 12px 1px white inset, 0 0 10px 0 black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.searchBtnText {
  position: relative;
  z-index: 1;
  animation: searchText 7s ease-in-out infinite;
}

@keyframes searchText {
  0% {
    transform: rotate(5deg) translateX(2.5px) translateY(2.5px);
  }
  50% {
    transform: rotate(-5deg) translateX(-2.5px) translateY(-2.5px);
  }
  100% {
    transform: rotate(5deg) translateX(2.5px) translateY(2.5px);
  }

}

.searchBtnLines {
  position: absolute;
  top: -10px;
  left: -55px;
}

.searchBtnLines:before, .searchBtnLines:after {
  content: '';
  position: absolute;
  background: white;
  border: none;
  top: -50px;
  width: 150px;
  height: 35px;
  transition: all 200ms ease-out;
}

.searchBtnLines:after {
  box-shadow: 0 0 10px 0 black inset, 0 0 10px 0 black;
}

.searchBtnLines:before {
  transform: rotate(45deg);
}

.searchBtnLines:after {
  transform: rotate(-45deg);
}

.searchBtn:hover .searchBtnLines:before, .searchBtn:hover .searchBtnLines:after {
  top: 13px;
}

.searchBtn:hover .searchBtnText {
  color: black;
}

.searchBtn:hover {
  cursor: pointer;
}

.input {
  background: white;
  height: 35px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 8px 0 black inset;
  border-radius: 10px;
  margin: 0 10px;
  font-size: 18px;
  padding: 0 10px 0 10px;
  font-family: "Bell MT", serif;
}

.userInfoWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.userName {
  color: white;
  font-size: 14px;
  padding: 4px;
}

.userInfo {
  width: 50px;
  height: 50px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  box-shadow: 0 0 14px 1px white inset;
  overflow: hidden;
  transition: 700ms;
}

.userInfo:hover {
  cursor: pointer;
  background: white;
  box-shadow: 0 0 14px 1px black inset;
}

.userInfo:hover .circle, .userInfo:hover .circle:after {
  background: black;
}

.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: white;
  position: relative;
  transition: 300ms;
}

.circle:after {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: white;
  top: 25px;
  left: -31px;
  transition: 300ms;
}

.mainWrapHeart{
  height: 100%;
  display: flex;
  align-items: center;
}

.wrapHeart {
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: none;
  box-shadow: 0 0 15px 1px white inset;
  transition: 300ms;
}

.fa-heart{
  color: white;
  font-size: 30px;
  animation: heart 3s infinite ease-in;
  transition: 300ms;
}

@keyframes heart {
  0%{
    font-size: 26px;
  }
  38%{
    font-size: 31px;
  }
  50%{
    font-size: 36px;
  }
  62%{
    font-size: 31px;
  }
  100%{
    font-size: 26px;
  }

}

.wrapHeart:hover{
  background: white;
  box-shadow: 0 0 15px 1px black inset;
  cursor: pointer;
}
.wrapHeart:hover i{
  color: black;
}
