<mat-drawer-container autosize class="wrap">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-filters></app-filters>
  </mat-drawer>
  <div>
    <button type="button" mat-button (click)="drawer.toggle()" class="filtersBtn"><i class="fa-solid fa-arrow-right"></i></button>
    <div class="popTitle">Popular films</div>
    <app-newest></app-newest>
    <app-films></app-films>
    <div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</mat-drawer-container>
